.signup {
    border-radius: 15px;
    box-shadow: 5px 10px 15px 5px grey;

    .pwd-strength {
        border: 1px solid #0000002e;
        border-radius: 15px;
        box-shadow: 4px 10px 15px;
        padding: 1rem;
    }
}